{% extends "layout.html" %}
{% block body %}
<form action="" method="post">
    <table>
        <tr>
            <th>Field</th>
            <th>Current value</th>
            <th>New value</th>
        </tr>
        <tr>
            <td><label for="url">url</label></td>
            <td><label for="url">{{ url }}</label></td>
            <td><input id="url" name="url" type="text" autofocus/></td>
        </tr>
        <tr>
            <td><label for="key">key</label></td>
            <td><label for="key">{{ key }}</label></td>
            <td><input id="key" name="key" type="text"/></td>
        </tr>
        <tr>
            <td><label for="table">table</label></td>
            <td><label for="table">{{ table }}</label></td>
            <td><input id="table" name="table" type="text"/></td>
        </tr>
        <!--
        <tr>
            <td><label for="device_id">device_id</label></td>
            <td><label for="device_id">{{ device_id }}</label></td>
            <td><input id="device_id" name="device_id" type="text"/></td>
        </tr>
        <tr>
            <td><label for="location_id">location_id</label></td>
            <td><label for="location_id">{{ location_id }}</label></td>
            <td><input id="location_id" name="location_id" type="text"/></td>
        </tr>
        <tr>
            <td><label for="resolution_id">resolution_id</label></td>
            <td><label for="resolution_id">{{ resolution_id }}</label></td>
            <td><input id="resolution_id" name="resolution_id" type="text"/></td>
        </tr>
        -->
        <tr>
            <td><label for="insertion_delay">insertion_delay</label></td>
            <td><label for="insertion_delay">{{ insertion_delay }}</label></td>
            <td><input id="insertion_delay" name="insertion_delay" type="text"/></td>
        </tr>
        <tr>
            <td><label for="error_delay">error_delay</label></td>
            <td><label for="error_delay">{{ error_delay }}</label></td>
            <td><input id="error_delay" name="error_delay" type="text"/></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input type="submit" value="change"/>   </td>
        </tr>
    </table>
</form>
{% endblock %}