{% extends "layout.html" %}
{% block body %}

<form method="post" action="/">
    <table>
        <tr>
            <td><button type="submit" name="save_configuration">Save configuration</button></td>
            <td>Save the running configuration. Retain the configuration after reboot</td>
        </tr>
    </table>
</form>

<h2>Status</h2>
<p>
    {% if camera_status and model_status and postgrest_client_status %}
        {{ "OPERATIONAL" }}
    {% else %}
        {{ "NON-OPERATIONAL" }}
    {% endif %}
</p>
<table>
    <tr>
        <td>camera_status</td>
        <td>{{ "UP" if camera_status else "DOWN" }}</td>
    </tr>
    <tr>
        <td>model_status</td>
        <td>{{ "UP" if model_status else "DOWN" }}</td>
    </tr>
    <tr>
        <td>postgrest_client_status</td>
        <td>{{ "UP" if postgrest_client_status else "DOWN" }}</td>
    </tr>
</table>

<h2>Operating mode</h2>
<p>
    {% if activate_counting and activate_database_insertion %}
        {{ "PRODUCTION" }}
    {% else %}
        {{ "CALIBRATION" }}
    {% endif %}
</p>
<form method="post" action="/">
    <table>
        <tr>
            <td>activate_counting</td>
            <td>{{ "ON" if activate_counting else "OFF" }}</td>
            <td><button type="submit" name="toggle_counting">Toggle</button></td>
        </tr>
        <tr>
            <td>activate_database_insertion</td>
            <td>{{ "ON" if activate_database_insertion else "OFF" }}</td>
            <td><button type="submit" name="toggle_database_insertion">Toggle</button></td>
            <td>When switching from OFF to ON, all the previous detections are discarded!</td>
        </tr>
    </table>
</form>

<h2>Testing features</h2>
<form method="post" action="/">
    <table>
        <tr>
            <td>activate_image_annotation</td>
            <td>{{ "ON" if activate_image_annotation else "OFF" }}</td>
            <td><button type="submit" name="toggle_image_annotation">Toggle</button></td>
            <td>Annote the boxes on the frame. CPU-consuming (OFF by default).</td>
        </tr>
        <tr>
            <td>activate_video_writer</td>
            <td>{{ "ON" if activate_video_writer else "OFF" }}</td>
            <td><button type="submit" name="toggle_video_writer">Toggle</button></td>
            <td>Save the frames in a video. CPU-consuming (OFF by default).</td>
        </tr>
    </table>
</form>
{% endblock %}
