<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Trafficount Remote Control</title>
    </head>
    <body>
        <h1>Trafficount Remote Control</h1>
        <nav class="menu">
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/results">Results</a> / <a href="/results/live">Live</a></li>
            <li><a href="/camera">Camera</a></li>
            <li><a href="/counter">Counter</a></li>
            <li><a href="/database">Database</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>